{% load static %}
<!DOCTYPE html>
<html>

<head>
    <title>hai aku dhea</title>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" media="screem" href="{% static 'css/style.css %}">
</head>

<body>
    smlekum

    <h1>siapa dhea</h1>
    <h2>apakah ini dhea</h2>
    <p>hah gimana</p>
    <button>abis makan kue kukus</button>

    <div style="background-color: red; padding: 10px; margin-top: 20px; text-align: left;">
        <div style="background-color: aqua; margin: 10px; padding: 10px; text-align: center;">
            <span>kue kukus enak</span>
        </div>
    </div>

    <div class="outer-box">
        <div id="inner-box">
            <span>gimana gimana</span>
        </div>
    </div>

</body>

</html>