{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="row">
    <div class="col">
        <div class="container d-flex justify-content-center">
            <div class="card p-3 bg-primary text-red">
                <div class="row">
                    <div class="col-3">
                        <img src="{% static 'images/Screenshot_20210311-134751_Instagram.png' %}" width="100px">
                    </div>
                    <div class="col-md-6 mt-1">
                        <div class="row">
                            <h1>sewa suami </h1>
                            <p>multitalent, ganteng, tidak pemalas</p>
                        </div>
                    </div>
                </div>
                <div class="col-3">
                    <a class=" btn btn-outline-dark">sewa sekarang juga</a>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
{% endblock content %}