<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">
        <img src="https://lh3.googleusercontent.com/proxy/TjeS4JOLAumtC4uCKK3vY-L6MSTGtBQyxhPSzIk2j444dBApUCMM1jtnRL6mwghx-RR7u40jTFTh9HqQnb0VguxSjvepbB4"
            width="30" height="30" alt="">
        Sewa Pasangan</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
        aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="/home">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/firstpage">About</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/secondpage">Gallery</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                    data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Jenis Produk
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <li><a class="dropdown-item" href="#">Sewa Pacar</a></li>
                    <li><a class="dropdown-item" href="#">Sewa Istri</a></li>
                    <li><a class="dropdown-item" href="/shop">Sewa Suami</a></li>
                </ul>
            </li>
        </ul>
    </div>
</nav>
<!-- <nav class="navbar fixed-bottom navbar-expand-sm navbar-dark bg-dark">
    <a class="navbar-brand" href="#">
        <img src="https://lh3.googleusercontent.com/proxy/TjeS4JOLAumtC4uCKK3vY-L6MSTGtBQyxhPSzIk2j444dBApUCMM1jtnRL6mwghx-RR7u40jTFTh9HqQnb0VguxSjvepbB4"
            width="30" height="30" alt="">
        >Sewa Pasangan</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
        aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/firstpage">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">About</a>
            </li>
            <li class="nav-item dropup">
                <a class="nav-link dropdown-toggle" href="#" id="dropdown10" data-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false">Mau Sewa Apa</a>
                <div class="dropdown-menu" aria-labelledby="dropdown10">
                    <a class="dropdown-item" href="/shop">Suami</a>
                    <a class="dropdown-item" href="#">Istri</a>
                    <a class="dropdown-item" href="#">Pacar Semalam</a>
                </div>
            </li>
        </ul>
    </div>
</nav> -->